@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-primary,
   warn: $my-primary,
 )
));

$color-config:    mat.get-color-config($my-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');
$warn-palette:    map.get($color-config, 'warn');
// $is-dark-theme:   map.get($color-config, 'is-dark');

@include mat.all-component-themes($my-theme);

:host > *
{
    background-color: gray;

    display: flex;
    flex-flow: column;
    gap: 20px;
}

.prim
{
    .one
    {
        background-color: mat.get-color-from-palette($primary-palette, 500);
    }
    .two
    {
        background-color: mat.get-color-from-palette($primary-palette, 300);
    }
    .three
    {
        background-color: mat.get-color-from-palette($primary-palette, 100);
    }
}

.acce
{
    .one
    {
        background-color: mat.get-color-from-palette($accent-palette, A400);
    }
    .two
    {
        background-color: mat.get-color-from-palette($accent-palette, A200);
    }
    .three
    {
        background-color: mat.get-color-from-palette($accent-palette, A100);
    }
}