@use 'sass:map';
@use '@angular/material' as mat;
// @include mat.core();
@import 'src/styles';

$color-config:    mat.get-color-config($my-theme);
$primary: map.get($color-config, 'primary');
$accent:  map.get($color-config, 'accent');
$warn:    map.get($color-config, 'warn');

.top_form
{
    background-color: mat.get-color-from-palette($accent) !important;
    color: mat.get-color-from-palette($accent, default-contrast) !important;
}

:host
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 0px 10px 10px;

    .existing > *
    {
        background-color: mat.get-color-from-palette($accent, 200);
        border-radius: 10px;
        padding: 15px 15px 10px;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        // align-items: flex-start;

        button
        {
            border: none;
            text-decoration: none;
            background-color: mat.get-color-from-palette($accent);
            color: mat.get-color-from-palette($accent, default-contrast);
        }
    }

    .new_graph
    {
        background-color: mat.get-color-from-palette($accent, 200);
        border-radius: 10px;
        padding: 15px;

        display: grid;
        grid-template-rows: repeat(6, auto);
        gap: 5px;
        justify-content: center;

        & > *
        {
            display: flex;
            justify-content: center;
        }

        mat-radio-group
        {
            display: flex;
            flex-flow: row;
            gap: 5px;
            align-items: center;
        }

        button
        {
            border: none;
            text-decoration: none;
            background-color: mat.get-color-from-palette($accent);
            color: mat.get-color-from-palette($accent, default-contrast);
        }
    }
}

// .rows
// {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }