@use 'sass:map';
@use '@angular/material' as mat;
// @include mat.core();
@import 'src/styles';

$color-config:    mat.get-color-config($my-theme);
$primary: map.get($color-config, 'primary');
$accent:  map.get($color-config, 'accent');
$warn:    map.get($color-config, 'warn');

.top_form
{
    background-color: mat.get-color-from-palette($accent) !important;
    color: mat.get-color-from-palette($accent, default-contrast) !important;
}

:host
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 0px 10px 10px;

    .existing > *
    {
        background-color: mat.get-color-from-palette($accent, 200);
        border-radius: 10px;
        padding: 15px;

        display: flex;
        justify-content: center;
    }

    .new_graph
    {
        background-color: mat.get-color-from-palette($accent, 200);
        border-radius: 10px;
        padding: 15px;

        // display: flex;
        // justify-content: center;
    }
}

// .rows
// {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }