:host
{
    height: 100%;

    .outer
    {
        height: 100%;
        display: flex;
        flex-flow: row;
        gap: 10px;

        padding: 5px;
        background-color: black;

        justify-content: center;

        padding-bottom: 10px;
    
        .left
        {
            background-color: lightcoral;
            .symbols
            {
                display: flex;
                flex-flow: column;
            }
        }
    
        .middle
        {
            background-color: dimgrey;
    
            display: flex;
            flex-flow: column;
    
            .top
            {
                display: flex;
                flex-flow: row;
                justify-content: center;
                gap: 20px;

                padding: 5px 0px;

                mat-radio-group
                {
                    display: flex;
                    flex-flow: row;
                    gap: 5px;
                    align-items: center;
                }
            }
        }
    
        .right
        {
            background-color: lightsalmon;
    
            .intervals
            {
                display: flex;
                flex-flow: column;
            }
        }
    }
}