@use 'sass:map';
@use '@angular/material' as mat;
// @include mat.core();
@import 'src/styles';

$color-config:    mat.get-color-config($my-theme);
$primary: map.get($color-config, 'primary');
$accent:  map.get($color-config, 'accent');
$warn:    map.get($color-config, 'warn');

.top_form
{
    background-color: mat.get-color-from-palette($accent) !important;
    color: mat.get-color-from-palette($accent, default-contrast) !important;
}

:host
{
    height: 100%;

    // padding-bottom: 20px;

    .outer
    {
        height: 100%;
        display: flex;
        flex-flow: row;
        gap: 10px;

        padding: 10px;
        padding-top: 0px;
        background-color: mat.get-color-from-palette($accent, 200);
        border-radius: 10px;

        justify-content: center;
    
        .left
        {
            background-color: mat.get-color-from-palette($accent, 200);

            // display: flex;
            // align-items: center;

            padding-top: 63px;

            .symbols
            {
                display: flex;
                flex-flow: column;

                // .mat-button-toggle {
                // background-color: mat.get-color-from-palette($primary);
                // color: mat.get-color-from-palette($primary, default-contrast);
                // }
            
                .mat-button-toggle-checked
                {
                    background-color: mat.get-color-from-palette($accent);
                    color: mat.get-color-from-palette($accent, default-contrast);
                }
            }
        }
    
        .middle
        {
            // background-color: dimgrey;
    
            display: flex;
            flex-flow: column;
    
            .top
            {
                display: flex;
                flex-flow: row;
                justify-content: center;
                gap: 20px;

                padding: 5px 0px;

                mat-radio-group
                {
                    display: flex;
                    flex-flow: row;
                    gap: 5px;
                    align-items: center;
                }
            }
        }
    
        .right
        {
            background-color: mat.get-color-from-palette($accent, 200);

            padding-top: 63px;
    
            .intervals
            {
                display: flex;
                flex-flow: column;
            
                .mat-button-toggle-checked {
                    background-color: mat.get-color-from-palette($accent);
                    color: mat.get-color-from-palette($accent, default-contrast);
                    }
            }
        }
    }
}