:host
{
    height: 100%;

    .outer
    {
        height: 100%;
        display: flex;
        flex-flow: row;

        justify-content: center;
    
        .left
        {
            background-color: lightcoral;
            .symbols
            {
                display: flex;
                flex-flow: column;
            }
        }
    
        .middle
        {
            background-color: dimgrey;
    
            display: flex;
            flex-flow: column;
    
            .top
            {
                display: flex;
                flex-flow: row;
            }
        }
    
        .right
        {
            background-color: lightsalmon;
    
            .intervals
            {
                display: flex;
                flex-flow: column;
            }
        }
    }
}