<header>
  Header
  <span class="title">
    {{title}}
  </span>

  <div class="buttons">
    <button routerLink="home" routerLinkActive="highlight">
      Home
    </button>
    <button routerLink="graphs" routerLinkActive="highlight">
      Graphs
    </button>
    <button routerLink="investments" routerLinkActive="highlight">
      Investments
    </button>
    <button routerLink="test" routerLinkActive="highlight">
      Test
    </button>
    <button *ngIf="!session" (click)="login()">
      Login
    </button>
    <button *ngIf="session" (click)="logout()">
      Logout
    </button>
    <button (click)="purge()">
      Clear Local Storage
    </button>
  </div>

</header>

<div class="content">
  Content from router goes here
  <router-outlet></router-outlet>
</div>

<footer>
  Footer
</footer>