@use 'sass:map';
@use '@angular/material' as mat;
// @include mat.core();
@import 'src/styles';

$color-config:    mat.get-color-config($my-theme);
$primary: map.get($color-config, 'primary');
$accent:  map.get($color-config, 'accent');
$warn:    map.get($color-config, 'warn');

:host
{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    gap: 10px;

    header
    {
        font-family: 'Monda', sans-serif !important;
        font-size: large !important;
    
        background-color: mat.get-color-from-palette($accent, 200);

        .buttons
        {
            display: flex;
            flex-flow: row;
            gap: 10px;
            justify-content: center;

            padding: 5px 0px;

            .title
            {
                background-color: mat.get-color-from-palette($accent, 200);
                // color: mat.get-color-from-palette($accent, default-contrast);
            }

            & > *
            {
                height: 100%;
                padding: 5px;

                display: flex;
                align-items: center;
            }

            button
            {
                border: none;
                text-decoration: none;
                font-family: 'Monda', sans-serif !important;
                font-size: large !important;
            }
        }
    }
}

.highlight
{
    background-color: mat.get-color-from-palette($accent);
    color: mat.get-color-from-palette($accent, default-contrast);
}