<header>
  Header
  <span class="title">
    {{title}}
  </span>

  <div class="buttons">
    <button routerLink="home">
      Home
    </button>
    <button routerLink="graphs">
      Graphs
    </button>
    <button routerLink="investments">
      Investments
    </button>
    <button routerLink="test">
      Test
    </button>
    <button *ngIf="!logged_in" (click)="login()">
      Login
    </button>
    <button *ngIf="logged_in" (click)="logout()">
      Logout
    </button>
  </div>

</header>

<div class="content">
  Content from router goes here
  <router-outlet></router-outlet>
</div>

<footer>
  Footer
</footer>