:host
{
    width: 100%;

    max-width: 800px;

    & > *
    {
        width: 100%;
    }
}

.myform
{
    background-color: gray;
}

.mat-form-field-infix
{
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 100%;
}

.myinput
{
    flex: 1 0 0;
}


// .mat-chip-list-wrapper
// {
//     display: flex;
//     flex-flow: column;

//     .chips
//     {
//         display: flex;
//         flex-flow: row;
//     }
// }